.container
    .row
        .col-xs-12
            .panel.panel-default
                .panel-heading View
                .panel-body
                    button.btn(ng-repeat="view in views"
                            ng-class="activeView === view.id ? 'btn-primary' : 'btn-default'"
                            ng-click="setView(view)") {{view.id}}
    .row
        .col-xs-12
            .panel.panel-default
                .panel-heading Replay
                .panel-body
                    button.btn.btn-success(ng-click="playReplay()") Start Replay
                    button.btn.btn-danger(ng-click="stopReplay()") Stop Replay
    .row
        .col-xs-12.col-sm-6
            .panel.panel-primary
                .panel-heading LEFT Team
                .panel-body
                    .form-group
                        label.control-label Team Name
                        input.form-control(ng-model="unsaved.teams.left.name")
        .col-xs-12.col-sm-6
            .panel.panel-danger
                .panel-heading RIGHT Team
                .panel-body
                    .form-group
                        label.control-label Team Name
                        input.form-control(ng-model="unsaved.teams.right.name")
    .row
        .col-xs-12.col-sm-6
            .panel.panel-default
                .panel-heading Left Caster
                .panel-body
                    .form-group
                        label.control-label First Name
                        input.form-control(ng-model="unsaved.casters.left.firstName")
                    .form-group
                        label.control-label Nickname
                        input.form-control(ng-model="unsaved.casters.left.nickname")
                    .form-group
                        label.control-label Last Name
                        input.form-control(ng-model="unsaved.casters.left.lastName")
        .col-xs-12.col-sm-6
            .panel.panel-default
                .panel-heading Right Caster
                .panel-body
                    .form-group
                        label.control-label First Name
                        input.form-control(ng-model="unsaved.casters.right.firstName")
                    .form-group
                        label.control-label Nickname
                        input.form-control(ng-model="unsaved.casters.right.nickname")
                    .form-group
                        label.control-label Last Name
                        input.form-control(ng-model="unsaved.casters.right.lastName")
        .col-xs-12
            .panel.panel-default
                .panel-heading Map
                .panel-body
                    .form-group
                        label.control-label Next map
                        select.form-control(ng-model="unsaved.map.name")
                            option UNKNOWN
                            option cache
                            option cobblestone
                            option inferno
                            option mirage
                            option nuke
                            option overpass
                            option train
                    .form-group
                        label.control-label Bottom
                        input.form-control(ng-model="unsaved.map.text")
        .col-xs-12
            .panel.panel-default
                .panel-heading BEST OF 3 MAPS
                .panel-body
                    h3 MAP 1
                    .form-group
                        label.control-label Next map
                        select.form-control(ng-model="unsaved.bo3.maps.map1.name")
                            option UNKNOWN
                            option cache
                            option cobblestone
                            option inferno
                            option mirage
                            option nuke
                            option overpass
                            option train
                    .form-group
                        label.control-label Bottom
                        input.form-control(ng-model="unsaved.bo3.maps.map1.text")
                    h3 MAP 2
                    .form-group
                        label.control-label Next map
                        select.form-control(ng-model="unsaved.bo3.maps.map2.name")
                            option UNKNOWN
                            option cache
                            option cobblestone
                            option inferno
                            option mirage
                            option nuke
                            option overpass
                            option train
                    .form-group
                        label.control-label Bottom
                        input.form-control(ng-model="unsaved.bo3.maps.map2.text")
                    h3 MAP 3
                    .form-group
                        label.control-label Next map
                        select.form-control(ng-model="unsaved.bo3.maps.map3.name")
                            option UNKNOWN
                            option cache
                            option cobblestone
                            option inferno
                            option mirage
                            option nuke
                            option overpass
                            option train
                    .form-group
                        label.control-label Bottom
                        input.form-control(ng-model="unsaved.bo3.maps.map3.text")
                    h3 ACTIVE MAP
                    select.form-control(ng-model="unsaved.bo3.active")
                        option NONE
                        option 1
                        option 2
                        option 3
button.btn.btn-success.btn-save(ng-click="save()" ng-disabled="working") Save
