.full-container.casters
    .logo-box.loading1.loading2
        img(src="assets/img/logo-casters-view.svg")
    .caster-left.caster-sign.loading
        img(src="assets/img/left-caster.svg")
        .texts
            .top-row
                p.name {{data.casters.left.firstName}}
                p  "{{data.casters.left.nickname}}"
            .bottom-row
                p.name {{data.casters.left.lastName}}
    .caster-right.caster-sign.loading
        img(src="assets/img/right-caster.svg")
        .texts
            .top-row
                p.name {{data.casters.right.firstName}}
                p  "{{data.casters.right.nickname}}"
            .bottom-row
                p.name {{data.casters.right.lastName}}