.full-container.maps
    .teams
        .team-left.team.loading
            img(src="assets/img/team-left.svg")
            p {{data.teams.left.name}}
        .team-right.team.loading
            img(src="assets/img/team-right.svg")
            p {{data.teams.right.name}}
    .maps-container
        .map.map-1.loading(ng-class="data.bo3.maps.map1.name")
            .map-name
                p {{data.bo3.maps.map1.name}}
            .bottom-row
                img(src="assets/img/map-lower.svg")
                p {{data.b03.maps.map1.text}}
        .map.map-2.loading(ng-class="data.bo3.maps.map2.name")
            .map-name
                p {{data.bo3.maps.map2.name}}
            .bottom-row
                img(src="assets/img/map-lower.svg")
                p {{data.b03.maps.map2.text}}
        .map.map-3.loading(ng-class="data.bo3.maps.map3.name")
            .map-name
                p {{data.bo3.maps.map3.name}}
            .bottom-row
                img(src="assets/img/map-lower.svg")
                p {{data.b03.maps.map3.text}}

